.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}

.rating__img {
    margin-right: 0.62rem;
}

@media (max-width: 500px) {
    .rating__img {
        height: 0.93rem;
        width: 0.93rem;
        margin-right: 0.31rem;
    }
}

