
.accordion {
    height: auto;
    margin-bottom: 1.93rem;
}

.accordion_header {
    height: 2.93rem;
    display: flex;
    align-items: center;
    flex-direction: wrap;
    justify-content:space-between;
    background: var(--main-color);
    color:var(--second-color);
    font-size: 1.5em;
    padding: 0 1rem 0 1rem;
    border-radius: 0.31rem;
    cursor: pointer;
}

.accordion__content {
    color: var(--main-color);
    font-size: 1.5em;
    text-align: start;
    max-height: 0;
    overflow: hidden;
}

.accordion__content__show {
    background: #F6F6F6;
    color: var(--main-color);
    font-size: 1.5em;
    height: auto;
    padding: 1.93rem 1.68rem 1.18rem 1.12rem;
}
