.slider__container {
    position: relative;
}

.slide {
    border-radius: 1.56rem;
    width: 100%;
    height: 25.93rem;
}


.slide img {
    border-radius: 1.56rem;
    width: 100%;
    height: 25.93rem;
    object-fit: cover;
    display: flex;
    visibility: visible;
}

.slide__hidden {
    display: none;
    visibility: hidden;
}

.slider__navigation {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
}

.slide__btn__prev {
    font-size: 0.62rem;
    cursor: pointer;
    width: 2.87rem;
    height: 4.93rem;
    margin-left: 1.25rem;
}

.slide__btn__next {
    font-size: 0.62rem;
    cursor: pointer;
    width: 2.87rem;
    height: 4.93rem;
    margin-right: 1.25rem;
}